# Local development settings
DEBUG=True
DJANGO_SETTINGS_MODULE=job_portal_exam.settings
SECRET_KEY=your-secret-key-here
DATABASE_URL=postgres://localhost/job_portal_exam
REDIS_URL=redis://127.0.0.1:6379/1

# Redis settings
REDIS_MAX_CONNECTIONS=1000
REDIS_TIMEOUT=20
REDIS_SOCKET_TIMEOUT=5